<!DOCTYPE html>
<html lang="en" class="gr__amzflashdealsmi_com">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DISCOUNT DEAL!</title>

    <link rel="stylesheet" href="./buy_together_discount/bootstrap.min.css">
    <link href="./buy_together_discount/css" rel="stylesheet">

    <link rel="stylesheet" href="./buy_together_discount/font-awesome.min.css">
    <link rel="stylesheet" href="./buy_together_discount/styles.css">
</head>
<body data-gr-c-s-loaded="true">
<div class="container main">

    <div class="row">

        <section class="col-md-12">
            <div class="headline">
                <h1>10% OFF DEAL</h1>
            </div>
        </section>

    </div>

    <div class="row"> <!-- featured section -->

        <section class="col-md-12 content">

            <h2><span class="emphasis">Buy This</span> Popular Best Selling Knee Brace Support for only $1.53, Free Shipping! On Amazon, and <span class="emphasis">Get THIS Amazing Product for 10% OFF!</span></h2>

            
        </section>

        <section class="col-md-12">
            <div class="headline content">
                <h2>Limited Supply Available</h2>
            </div>
        </section>

    </div>


    <div class="row"> <!-- amazon deal text -->

        <section class="content">

            <div class="col-md-4">
                                                            </div>

            <div class="col-md-8 main-info">

                                    <p>
                        Deal Description                    </p>
                
                <p><span class="emphasis-two">What if I told you that you could get an AMAZING Discounted Product Name, for 10% OFF?</span> Well, we've made special arrangements to make that happen for you!</p>

                <h3 class="center red">Here's how it works:</h3>

                <p>This is a special <span class="emphasis-two">Amazon coupon deal.</span> Grab this top-rated Discounted Product Name for <span class="emphasis-two">10% off ($Discounted Product Value value)</span> with Free Amazon PRIME shipping, when you purchase the Knee Brace Support for only $1.53, Free Shipping! for only $1.53. </p>

                <p>However, the only way to get this fantastic deal is with a special private Amazon coupon code. We only have a <span class="emphasis-two">VERY small handful</span> of these coupon codes to give out, and this WILL be very popular.</p>

                <p>All orders are placed <span class="emphasis-two">right through Amazon,</span> so you are assured a smooth transaction. You'll use a special <span class="emphasis-two">coupon code</span> that will be provided to you on the next page. </p>

                <p><span class="emphasis-two">Here's how to claim your coupon code before they are all gone...</span></p>

            </div>

        </section>

    </div>


    <div class="row"> <!-- coupons -->

        <section class="content">
            <div class="col-md-1"></div>
            <div class="col-md-10 cta">

                <h2 class="center only-left"><span class="red">•</span> ONLY <span class="emphasis red">11</span> COUPONS LEFT <span class="red">•</span></h2>

                <p class="center">• Click the button below to generate a unique
                    coupon code to use on Amazon</p>

                <p class="center">• Then, follow the instructions on how to get your
                    10% off product on the next page.</p>

                                    <a class="btn-warning" href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks"> Grab My Coupon Deal</a>
                
            </div>
            <div class="col-md-1"></div>
        </section>

    </div>

    <hr>

    <div class="row">

        <section class="content limited-section">

            <div class="col-md-8">

                <h3 class="red center">This is a limited time Amazon coupon deal.</h3>

                <p>Grab this top-rated Discounted Product Name for <span class="emphasis-two">10% off ($Discounted Product Value value)</span> with Free Amazon PRIME shipping, when you purchase the Knee Brace Support for only $1.53, Free Shipping! for only $1.53.</p>

                <p>We only have a small handful of these coupons available and we expect to sell out shortly. You are <span class="emphasis-two">strongly advised to act fast.</span></p>

            </div>

            <div class="col-md-4">
                <img class="center" src="./buy_together_discount/photo.png" alt="">
            </div>

        </section>

    </div>

    <div class="row"> <!-- coupons -->

        <section class="content">
            <div class="col-md-1"></div>
            <div class="col-md-10 cta">

                <h2 class="center only-left"><span class="red">•</span> ONLY <span class="emphasis red">11</span> COUPONS LEFT <span class="red">•</span></h2>

                <p class="center">• Click the button below to generate a unique
                    coupon code to use on Amazon</p>

                <p class="center">• Then, follow the instructions on how to get your
                    10% off product on the next page.</p>

                                    <a class="btn-warning" href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks"> Grab My Coupon Deal</a>
                
            </div>
            <div class="col-md-1"></div>
        </section>

    </div>

    <hr>

    <div class="row"> <!-- simple steps -->

        <section class="content">
            <div class="col-md-1"></div>
            <div class="col-md-10 steps">

                <h3 class="center red">How to Participate</h3>
                <h4 class="center">follow these 3 simple steps!</h4>


                <div class="row flexin">
                    <div class="col-md-1"><img class="max" src="./buy_together_discount/1.png"></div>
                    <div class="col-md-9"><p>• Get your <strong>Amazon Coupon Code</strong> for this deal</p></div>
                    <div class="col-md-2 switch"><img class="switch" src="./buy_together_discount/amazon_coupon.png"></div>
                </div>
                <div class="row grey flexin">
                    <div class="col-md-1"><img class="max" src="./buy_together_discount/2.png"></div>
                    <div class="col-md-9"><p>• Then <strong>add both items</strong> (exact instructions provided on the next page!)</p></div>
                    <div class="col-md-2 switch"><img class="switch" src="./buy_together_discount/Cart-128.png"></div>
                </div>
                <div class="row flexin">
                    <div class="col-md-1"><img class="max" src="./buy_together_discount/3.png"></div>
                    <div class="col-md-9"><p>• Use Your Coupon Code at the <strong>checkout on Amazon</strong> and get this great product for 10% off!</p></div>
                    <div class="col-md-2 switch"><img class="switch" src="./buy_together_discount/amazon_checkout.png"></div>
                </div>


                <p class="center red emphasis above-btn above-btn-red">Click the button below to get your coupon deal!</p>

                                    <a class="btn-warning" href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks"> Grab My Coupon Deal</a>
                
                <p class="center tight emphasis-three">Coupon code will instantly be generated for you. Limit 1 per person.</p>
                <p class="center tight emphasis-three">Free shipping for Amazon Prime Members</p>

            </div>
            <div class="col-md-1"></div>
        </section>

    </div>

    <hr>

    <div class="row"> <!-- featured image 2 -->
        <section class="content">
            <div class="col-md-12">
                            </div>
        </section>
    </div>

    <hr>

    <div class="row"> <!-- FAQ -->
        <section class="content faq">
            <h3 class="center red">Frequently Asked Questions</h3>

            <div class="col-md-4">
                <h4> Will I receive Free Shipping?</h4>
                <p>That depends. If you have Amazon Prime, you will be eligible for free shipping. If not, you may be eligible for free standard shipping, but you will need to select that option during checkout if it is available to you.</p>
            </div>

            <div class="col-md-4">
                <h4>How do I know this is a real deal and not a scam?</h4>
                <p>You are purchasing this product directly from Amazon...the most trusted eCommerce website on Earth. If you still don't feel safe about the purchase, then do not purchase.</p>
            </div>

            <div class="col-md-4">
                <h4> My coupon code didn't work?</h4>
                <p>You must add <b>both products </b>to your cart, and only then will the provided coupon code work. When applied, it will reduce the price for the discounted product down to $0.00. &nbsp;But if both items are not added to the cart, the coupon will NOT work. &nbsp;Also,&nbsp;coupons will be limited to 1 per household. If you try to reuse your unique coupon code again, it will NOT work a second time.</p>
            </div>
            <div class="col-md-12">
                                    <a class="btn-warning" href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks"> Grab My Coupon Deal</a>
                            </div>
        </section>
    </div>

</div>


<footer class="container site-footer">

    <div class="row nav-copyright">

        <div class="col-md-6">
            <a href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=privacy">Privacy</a> |  <a href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=terms">Terms of Service</a> | <a href="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=contact">Contact Us</a>
        </div>

        <div class="col-md-6">
            <p>© amzflashdealsmi.com 2018. All Rights Reserved</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <p class="center disclaimer">Disclaimer: This site and the products and services offered on this site are not associated, affiliated, endorsed, or sponsored by Amazon, nor have they been reviewed tested or certified by Amazon.</p>

        </div>

    </div>

</footer>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">10% Off Coupon</h3>
            </div>
            <div class="modal-body">
                <!--  start of optin form -->
                <form method="post" action="http://www.aweber.com/scripts/addlead.pl" id="optin">
                    <fieldset>
                        <center>
                            <input type="text" placeholder="Enter Your Email Here" name="email"> <br>
                            <input type="hidden" name="listname" value="amazingdealsclu">
                            <input type="hidden" name="redirect" value="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks">
                            <input type="hidden" name="meta_redirect_onlist" value="http://amzflashdealsmi.com/vip/101-blue-1fa5e5?p=thanks">
                            <input type="hidden" name="meta_message" value="1">
                            <input type="hidden" name="meta_forward_vars" value="1">
                            <input type="hidden" name="confirmation" value="">
                            <button type="submit" class="btn btn-large btn-success btn-coupon">GET COUPON »</button>
                        </center>
                    </fieldset>
                </form>
                <!-- end of optin form -->
                <h4>Coupon code will be instantly sent to you. Limit 1 per person.
                </h4>
            </div>
        </div>

    </div>
</div>


<script src="./buy_together_discount/jquery.min.js"></script>
<script src="./buy_together_discount/bootstrap.min.js"></script>

<script type="text/javascript">

    (function($) {
        'use strict';

        $(document).ready(function() {

            $('.aWeberButton').on('click', function(e) {
                e.preventDefault();
                var options = {};
                $('#myModal').modal(options);
            });

        }); // end doc ready

    })(jQuery);

</script>




</body></html>