<!DOCTYPE html>
<html lang="en" class="gr__amzflashdealsmi_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sorry, This Deal Expired</title>

    <script src="./src/jquery-1.12.4.min.js"></script>
    <script src="./src/jquery.flexslider-min.js"></script>

    <link rel="stylesheet" href="./src/bootstrap.min.css">
    <link rel="stylesheet" href="./src/flexslider.css">
    <link rel="stylesheet" href="./src/styles.css">
    <link rel="stylesheet" href="./src/flexslider-override.css">
    <link rel="stylesheet" href="./src/font-awesome.min.css">

    
</head>
<body data-gr-c-s-loaded="true">
<section class="container main-content expired-content">

    <div class="row">

        
                        <h1><strong>Sorry, This Deal Has Expired.</strong></h1>

            <div class="col-md-4">
                <img class="img-left" src="./img/expired.jpg" alt="Deal Expired">
            </div>

            <div class="col-md-8">

                <p>I want to personally thank you for your interest in our Deals that we release periodically!</p>
                <p>Due to the limited nature of the deals we post ... and the fact they are usually top rated Amazon products for steeply discounted prices ... the available supply offered can go very fast! Often the Amazon vendor limits the number of coupon codes they allow us to give to people since the discounts are so incredibly good!</p>
                
                <p>Be looking for an email soon with our next awesome Sale, and next time be sure to act upon it immediately as they tend to sell out fast! We hope to serve you again in the future, and thanks VERY much for your interest!</p>

            </div>


            </div>

</section>

<footer class="container site-footer">

    <div class="row">

        <div class="col-md-12">

            <small>© amzflashdealsmi.com 2018. All Rights Reserved.
            </small>
        </div>

    </div>

</footer>



</body></html>