/*
Description: Flexslider Overrides
Author: Rapid Crush, Inc.
Author URI: http://rapidcrush.com/
Copyright 2016
Version: 1.0.0
*/

.flexslider {
    border: none;
}

.flex-viewport {
    border: 5px solid #fff;
    box-shadow: 2px 2px 20px #f4f5f6;
}

.flexslider ul.slides {
    padding: 15px 0;
}
.flexslider ul.slides li.flex-active-slide {
}

.flex-direction-nav a {
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-prev:hover {
    left: 0;
}
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-next:hover {
    right: 0;
    text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 0;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 0;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}

.flex-direction-nav a:before {
    font-family: FontAwesome;
    font-size: 30px;
    content: '\f060';
    color: #008af6;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
    content: '\f061';
}

.flexslider .slides img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.flex-control-thumbs {
    text-align: center;
    margin: 0 auto;
    position: static;
    overflow: hidden;
    padding: 15px;
}

.flex-control-nav li {
    display: inline-block;
    float: none;
    margin: 0 10px;
    box-shadow: 2px 2px 30px #f3f4f5;
}

.flex-control-nav li img {
}

.flex-control-nav li img.flex-active {
    border: 2px solid #008af6;
    border-radius: 2px;
}

@media only screen and (min-width: 992px) {

    .flex-direction-nav .flex-prev,
    .flexslider:hover .flex-direction-nav .flex-prev {
        left: -55px;
    }

    .flex-direction-nav .flex-next,
    .flexslider:hover .flex-direction-nav .flex-next {
        right: -55px;
    }
}